.logo {
  text-decoration: none;
}

.navigationBar,
.mapContainer,
.controllerOverlay,
body {
    width:100%;
    padding:0px;
    margin:0px;
}

div {
    box-sizing:border-box;
}

.topControllerBar,
.bottomControllerBar {
  padding: 5px;
  width:100%;
  margin:0px;
}


#logoBig {
  margin-top: -5px;
  padding-left: 10px;
  padding-top: 3px;
  color: #fcfffd;
}

#logoSmol {
  margin-top: -29px;
  margin-left: 24px;
  padding-left: 10px;
  color: #fcfffd;
}

.account {
  text-decoration: none;
  float: right;
  font-weight:700;
  color: #fcfffd;
  padding-right: 3%;
  padding-top: 20px;
}

.navigationBar {
  background: #6f9b95;
  height: 3em;
  padding-bottom: 4px;
}

.addButton {
  width: 33px;
  height: 28px;
  border: 2px solid #6f9b95;
  border-radius: 5px;
  cursor: pointer;
  line-height: 9px;
  background: #fcfffd;
}

.cloneButton {
  width: 33px;
  height: 28px;
  border: 2px solid #6f9b95;
  border-radius: 5px;
  cursor: pointer;
  line-height: 9px;
  background: #fcfffd;
}

.eraseButton {
  width: 33px;
  height: 28px;
  border: 2px solid #6f9b95;
  border-radius: 5px;
  cursor: pointer;
  line-height: 9px;
  background: #fcfffd;
}

.bottomControllerBar {
  position: absolute;
  bottom:0;
  padding-bottom: 5px;
}

.undoButton {
  width: 33px;
  height: 28px;
  border: 2px solid #6f9b95;
  border-radius: 5px;
  cursor: pointer;
  line-height: 9px;
  background: #fcfffd;
}

.redoButton {
  width: 33px;
  height: 28px;
  border: 2px solid #6f9b95;
  border-radius: 5px;
  cursor: pointer;
  line-height: 9px;
  background: #fcfffd;
}

.editBlock {
  float:left;
}

.saveBlock {
  float:right;
  text-align:right;
}

button {
  border: 2px solid #6f9b95;
  border-radius: 5px;
  cursor: pointer;
  background: #fcfffd;
  height: 28px;
}
button:active {
  background: pink;
}

.saveButton {
  width: 45px;
}

#saveText {
  color: #6f9b95;
}